<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                             http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <!-- Servlet configuration -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>AddBookServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DisplayBooksServlet</servlet-name>
        <servlet-class>DisplayBooksServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ReturnBookServlet</servlet-name>
        <servlet-class>ReturnBookServlet</servlet-class>
    </servlet>

    <!-- Servlet mappings -->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBookServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>DisplayBooksServlet</servlet-name>
        <url-pattern>/DisplayBooksServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ReturnBookServlet</servlet-name>
        <url-pattern>/ReturnBookServlet</url-pattern>
    </servlet-mapping>

    <!-- Error handling -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errorPage.html</location>
    </error-page>
</web-app>
